[submodule "src/main/scala/Plugins/CommonUtils"]
	path = src/main/scala/Plugins/CommonUtils
	url = ../../../plugins/CommonUtils.git
	branch = master
[submodule "src/main/scala/Plugins/ClusterSystem"]
	path = src/main/scala/Plugins/ClusterSystem
	url = ../../../plugins/ClusterSystem.git
	branch = master
[submodule "src/main/scala/Plugins/CarInfoServersShared"]
	path = src/main/scala/Plugins/CarInfoServersShared
	url = ../CarInfoServersSharedScala.git
[submodule "src/main/scala/Plugins/CarInfoServersApi"]
	path = src/main/scala/Plugins/CarInfoServersApi
	url = ../CarInfoServersApiScala.git
